# Example to walk arround SQL and Py... For dummies

In [9]:
#Invite the good old dudes
import MySQLdb
import os
from dotenv import load_dotenv
from pathlib import Path

In [10]:
# load .env variables
env_path = Path('.') / '.env'
load_dotenv(dotenv_path=env_path, verbose=True)

True

In [20]:
# SongKick API keys
HOST     = os.getenv('DB_HOST')
PORT     = os.getenv('DB_PORT')
DB_NAME  = os.getenv('DB_NAME') 
DB_USER  = os.getenv('DB_USER')
DB_PASS  = os.getenv('DB_PASS')

In [21]:
# A first example
db = MySQLdb.connect(host   = HOST,                      # your host 
                     user   = DB_USER,                     # username
                     passwd = DB_PASS,                  # password
                     db     = DB_NAME,                     # name of the database
                     port   = int(PORT))                          # Port Numba

In [30]:
# prepare a cursor object using cursor() method
cursor = db.cursor()

# Drop table if it already exist using execute() method.
cursor.execute("DROP TABLE IF EXISTS PYTEST")

# Create table as per requirement
sql = """CREATE TABLE PYTEST (
         FIRST_NAME  CHAR(20) NOT NULL,
         LAST_NAME  CHAR(20),
         AGE INT,  
         SEX CHAR(1),
         INCOME FLOAT )"""

cursor.execute(sql)

0

In [31]:
# disconnect from server
db.close()